#######################################################################
#                                BASE                                 #
#######################################################################

snippet inspack "install packages" b
install.packages(c('${1:}'))
endsnippet
